FOODMANAGER_DB_NAME=foodmanager
FOODMANAGER_DB_USER=foodmanager
FOODMANAGER_DB_PASSWORD=foodmanager
FOODMANAGER_DB_PORT=5432
FOODMANAGER_DB_URL=jdbc:postgresql://localhost:5432/foodmanager

# Keycloak
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin123
KEYCLOAK_PORT=8081
KEYCLOAK_CLIENT_ID=foodmanager-web
KEYCLOAK_CLIENT_SECRET=foodmanager-web-secret
KEYCLOAK_ISSUER_URI=http://localhost:8081/realms/foodmanager

